/* Añade estilos básicos para la navegación */
.NavBar {
  background-color: #333;
  overflow: hidden;
}

.NavBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.NavBar li {
  float: left;
}

.NavBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.NavBar li a:hover {
  background-color: #111;
}
